<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ermolaevio.anim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ermolaevio.anim.ch1_constraint.group.GroupAnimationActivity" />
        <activity android:name="com.ermolaevio.anim.ch1_constraint.group.LinearRelativeAnimationActivity" />
        <activity android:name=".activity2.ActivityA" />
        <activity android:name=".activity2.ActivityB" />
        <activity android:name="com.ermolaevio.anim.ch1_constraint.constraintSet.ConstraintSetActivity" />
        <activity android:name="com.ermolaevio.anim.ch1_constraint.lesson_5_Placeholder.PlaceholderActivity" />
        <activity android:name=".ch2.lesson7_android_view_anim.ClassicAnimation" />
        <activity android:name=".ch2.lesson9.AnimResourcesActivity" />
    </application>

</manifest>